<v-app>
  <v-toolbar app dense clipped-left>
    <v-btn icon @click="drawerOpen = !drawerOpen">
      <img src="logo.svg" aria-hidden="true"
    /></v-btn>
    <v-toolbar-title :class="$style.toolbarTitle">
      Simulation Modeler
    </v-toolbar-title>
    <v-spacer />
    <v-tabs centered shrink v-model="tab" style="width: inherit; ">
      <v-tab
        v-for="item in items"
        style="background-color: rgb(245, 245, 245);"
      >
        {{item.text}}
      </v-tab>
    </v-tabs>
    <v-spacer />

    <v-btn color="secondary" small flat @click="save" class="px-0 mx-0">
      <v-icon> {{$vuetify.icons.save}} </v-icon>
      <span style="padding-left: .5em;"> Save </span>
    </v-btn>
    <v-btn color="secondary" small flat @click="run" class="px-0 mx-0">
      <v-icon> {{$vuetify.icons.run}} </v-icon>
      <span style="padding-left: .5em;"> Run </span>
    </v-btn>
  </v-toolbar>
  <v-content app class="pb-0">
    <Simput v-if="selectedTabText === 'Simput'" />
    <RemoteRenderView v-else-if="!!client" :viewId="viewId" :client="client" />
  </v-content>
  <error />
</v-app>
