<div class="d-flex flex-column fill-height">
  <v-toolbar flat class="fill-width align-center grey lighten-2 flex-grow-0">
    <v-toolbar-title> Domain Parameters </v-toolbar-title>
    <v-spacer />
    <v-btn-toggle rounded mandatory>
      <v-btn small>
        <v-icon small class="mr-1">mdi-format-align-left</v-icon> Parameters
      </v-btn>

      <v-btn small> <v-icon small class="mr-1">mdi-eye</v-icon> Preview </v-btn>
    </v-btn-toggle>
  </v-toolbar>
  <div class="fill-height fill-width flex-grow-1">
    <SimputStandin />
  </div>
</div>
