<v-overlay v-if="overlay && errors.length">
  <v-card style="max-width: 500px;">
    <v-card-title> Error </v-card-title>
    <v-card-text>
      Your file database '{{fileDB}}' does not match your working directory
      '{{workingDirectory}}': {{errors}}
    </v-card-text>

    <div class="d-flex pa-4">
      <v-spacer />
      <v-btn @click="overlay = false">
        <!-- github request feature -->
        Merge
      </v-btn>
      <v-spacer />
      <v-btn @click="overlay = false">
        <!-- invalidate file keys, use database over \-\-output state db entry -->
        Switch
      </v-btn>
      <v-spacer />
      <v-btn @click="overlay = false">
        <!-- ignore specified databse -->
        Ignore
      </v-btn>
      <v-spacer />
    </div>
  </v-card>
</v-overlay>
